

footer{
    background-color: $backgroundColor;
    div.container{
        a{
            img{

            }
        }
        div{
            a{
                color: black;
            }
        }
    }
}


@media(max-width: 576px){
    footer{
        div{
            a{
                font-size: 1.3rem;
            }
        }
    }
    
 
}